@mixin img($base) {
  background-image: url("../assets/doll_Hiddo/" + $base + ".png");
}

.hiddo {
  width: 600px;
  height: 800px;
  position: relative;
}
.hiddo * {
  width: 600px;
  height: 800px;
  position: absolute;
}

.body {
  @include img("body");
}

.exp-happy {
  @include img("01");
}

.exp-shocked {
  @include img("02");
}
