@mixin img($base) {
  background-image: url("../assets/doll_Piet/" + $base + ".png");
}

.piet {
  width: 636px;
  height: 800px;
  position: relative;
}
.piet * {
  width: 636px;
  height: 800px;
  position: absolute;
}

.body {
  @include img("body");
}

.pointUp {
  @include img("body-point-up");
}

.think {
  @include img("body-think");
}

.body2 {
  @include img("body2");
}

.pointUp2 {
  @include img("body2-point-up");
}

.think2 {
  @include img("body2-think");
}

.glasses {
  @include img("glasses");
}

.exp-happy {
  @include img("01");
}

.exp-hmm {
  @include img("02");
}

.exp-sip {
  @include img("03");
}

.exp-grin {
  @include img("04");
}

.exp-annoyed {
  @include img("05");
}

.exp-shout {
  @include img("06");
}

.exp-crying {
  @include img("07");
}

.exp-small-smile {
  @include img("08");
}
