@import "../../style/variables.scss";

@mixin img($base) {
  background-image: url("../assets/doll_Piet/" + $base + ".png");
}

.piet {
  width: 636px;
  height: 800px;
  position: relative;
}
.piet * {
  width: 636px;
  height: 800px;
  position: absolute;
}

.body {
  @include img("body");
}

.pointUp {
  @include img("body-point-up");
}

.exp-happy {
  @include img("01");
}

.exp-hmm {
  @include img("02");
}

.exp-sip {
  @include img("03");
}
