@import "../../style/variables.scss";

.silhouette {
  position: relative;
}

.reporter {
  width: 260px;
  height: 260px;
  background-image: url("../assets/silhouette/reporter.png");
  background-size: contain;
}
