@import "../style/variables.scss";

@mixin img($base) {
  background-image: url("../content/assets/backgrounds/" + $base);
}

.background {
  width: $windowWidth;
  height: $windowHeight;
  background-size: cover;
  position: absolute;
  pointer-events: none;
}
.blur {
  filter: blur(4px);
}
.black {
  background-color: black;
}
.livingRoom {
  @include img("living-room.jpg");
}
.livingRoomKids {
  @include img("living-room-kids.png");
}
.pietenhuis {
  @include img("pietenhuis.jpg");
}
.hall {
  @include img("hall.jpg");
}
.news {
  @include img("news.png");
}
.tv {
  @include img("living-room-tv.png");
}
.poemroom {
  @include img("poem-room.jpg");
}
