@import "../style/variables.scss";

.dialog {
  position: relative;
  width: vw(88);
  height: vh(7);
  min-height: vh(15.5);
  background-size: 100% 100%;

  background-color: #222;
  border: 2px solid #666;

  color: #aaa;
  font-size: 175%;
  padding: vw(4) vw(6) 0 vw(6);
}

.name {
  position: absolute;
  top: vh(-7);
  left: vw(3);
  background-size: 100% 100%;
  background-color: #999;
  border: 2px solid #666;

  color: #333;
  font-size: 90%;
  padding: vh(2) vw(3) vh(2) vw(3);
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
}
