@import "../style/variables.scss";

.scene {
  width: $windowWidth;
  height: $windowHeight;
  position: relative;
  overflow: hidden;
}

.sceneZoomContainer {
  width: $windowWidth;
  height: $windowHeight;
}

@keyframes vshake {
  0% {
    transform: translateY(1px);
  }
  10% {
    transform: translateY(-8px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(8px);
  }
  40% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(1px);
  }
  70% {
    transform: translateY(1px);
  }
  80% {
    transform: translateY(-1px);
  }
  90% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-4px);
  }
}

@keyframes hshake {
  0% {
    transform: translateX(1px);
  }
  10% {
    transform: translateX(-1px);
  }
  20% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-1px);
  }
  90% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(1px);
  }
}

.hpunch {
  animation: hshake 0.5s;
}

.vpunch {
  animation: vshake 0.5s;
}
