@import "../../style/variables.scss";

.base {
  transition: backdrop-filter 200ms;
  width: $windowWidth;
  height: $windowHeight;
  position: absolute;
  pointer-events: none;
}

.blur {
  backdrop-filter: blur(4px);
}
