.boxContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px solid yellow;
  border-radius: 4px;
  background: rgba(red, 0.8);
}

.box > header {
  border-bottom: 2px solid yellow;
  display: flex;
  flex-direction: row;
  color: yellow;
}

.box > header > h1 {
  padding: 0.25rem 1rem;
  font-size: 1rem;
  flex: auto;
}

.box > header > button {
  border: none;
  border-left: 2px solid yellow;
  background-color: red;
  color: yellow;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.box ul {
  margin: 0;
  padding: 0;
}

.box ul > li {
  list-style: none;
}

.box ul button {
  background: none;
  border: none;
  color: yellow;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.box ul button:hover {
  background-color: rgba(yellow, 0.3);
}
