.image {
  position: absolute;
  display: inline-block;
  pointer-events: initial;
  background-position: center, center;
  background-repeat: no-repeat;
  transition: background-blend-mode 0.2s;
  img {
    visibility: hidden;
    border: none;
  }
}
.highlight {
  position: absolute;
  display: inline-block;
  pointer-events: initial;
  opacity: 0;
  transition: opacity 0.2s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.highlight.glow:hover {
  opacity: 0.3;
}

.glow:hover {
  background-blend-mode: screen;
  cursor: pointer;
}

.shadow:hover {
  filter: drop-shadow(3px 3px 3px);
  cursor: pointer;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
