@import "../../style/variables.scss";

.screenFade {
  position: absolute;
  top: 0;
  left: 0;
  width: $windowWidth;
  height: $windowHeight;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
  pointer-events: none;
}
